@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: inline-flex;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

.sidebar {
  background: #212121;
  width: 15rem;
  min-width: 15rem;
  height: 100%;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 0.5rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
}

.sidebar header {
  padding: 0.75rem 1rem 0rem 1rem;
}

.sidebar header img {
  height: 1.4rem;
}

.sidebar header button {
  background-color: transparent;
  border: 0px;
  padding: 0.5rem;
  border-radius: 50%;
}

.sidebar header a img {
  margin-left: 0.4rem;
}

.sidebar header button img {
  filter: invert(1);
}

.sidebar-content {
  padding-right: 1rem;

}

.menu {
  padding: 1.25rem 0rem;
  border-bottom: 1px solid #3e3e3e;
}

.menu span {
  padding: 0.4rem 1rem;
  display: inline-flex;
  color: white;
  width: 100%;
}

.menu span:hover {
  cursor: pointer;
  background-color: #383838;
}

.menu span img {
  height: 1.7rem;
  margin-right: 1rem;
}

.general span img {
  filter: invert(1);
}

.menu span p {
  position: relative;
  top: 0.3rem;
  font-size: 15px;
}

.menu h2 {
  color: white;
  opacity: 0.7;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}

main {
  background-color: #181818;
  /* width: 100%; */
}

nav {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
}

nav>div {
  display: inline-block;
}

.nav-icons {
  position: relative;
  top: 0.4rem;
  margin-left: 5rem;
}

.nav-icons button {
  border: 0px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
}

.nav-icons button img {
  padding: 0.75rem;
  height: 100%;
  width: 100%;
  filter: invert(1);
}

.nav-icon-profile {
  padding: 0px !important;
  filter: none !important;
}

.search {
  position: relative;
  top: -0.75rem;
  display: inline-flex;
}

.search button {
  border: 0px;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  position: relative;
}

.searchbar {
  display: flex;
  background-color: #181818;
  border: 2px solid #323232;
}

.searchbar button {
  background-color: #323232;
  border: 0px;
  height: 2.75rem;
  width: 4.5rem;
  padding: 0.5rem;
}

.searchbar img {
  filter: invert(1);
  height: 100%;
}

.searchbar input {
  background-color: transparent;
  border: 0px;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  color: white;
  min-width: 30rem;
}

.searchbar input:focus {
  outline: 1px solid #4d4d4d;
}

.tags {
  padding: 0.75rem 0.75rem;
  display: inline-flex;
  overflow-x: hidden;
  gap: 1rem;
  width: calc(100% - 7rem);
  white-space: nowrap;
  margin: 0px 0.5rem;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
}

.tags::-webkit-scrollbar:horizontal {
  height: 0.3rem;
}

.tags .tag {
  padding: 0.4rem 1rem;
  background-color: #383838;
  color: white;
  border-radius: 2rem;
  font-size: 15px;
  border: 1px solid #4d4d4d;
}